<div class="container">

	<div class="form" >

		<form action="/add" method="POST">
			<label for="POST-method">Style:</label>
			<select id="POST-method" name="method">
				<option value="filler">Single Cell</option>
				<option value="block">Square Block</option>
				<option value="ne_glider">North-East Glider</option>
				<option value="se_glider">South-East Glider</option>
				<option value="r_spaceship">Right Spaceship</option>
				<option value="l_spaceship">Left Spaceship</option>
			</select>

			<label for="POST-ycoord">Coordinates: y=</label>
			<input id="POST-ycoord" type="text" name="y">
			<label for="POST-xcoord"> x=</label>
			<input id="POST-xcoord" type="text" name="x">

			<button type="submit" value="Add">Come my minions, rise for your master!</button>
		</form>

	</div>

	<div class="under_form">

		<div class="board">
			<ul>
				<% @board.each do |array| %>
					<li><% array.each do |cell| %>
						<%= cell.state %>
						<% end %>
					</li>
				<% end %>
			</ul>

			<div id="nav">
				<a id="clear" href="/clear">Clear</a>
				<a id="begin" href="/play">Begin!</a>
			</div>

		</div>

		<div class="help">
			<img src="./images/help.png">
			<!-- <p>?<br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/>CONWAY'S GAME<br/>OF LIFE:<br/>Enter x and y<br/>coordinates<br/>to add live<br/>cells to the<br/>board. The<br/>gliders move<br/>diagonally<br/>and the space-<br/>ships move<br/>horizontally.</p> -->
		</div>
	</div>

</div>

