
<form action="/add" method="POST">

	<label for="POST-method">Style:</label>
	<select id="POST-method" name="method">
		<option value="filler">Single Cell</option>
		<option value="block">Square Block</option>
		<option value="ne_glider">North-East Glider</option>
		<option value="se_glider">South-East Glider</option>
		<option value="r_spaceship">Right Spaceship</option>
		<option value="l_spaceship">Left Spaceship</option>
	</select>

	<label for="POST-ycoord">Coordinates: y=</label>
	<input id="POST-ycoord" type="text" name="y">
	<label for="POST-xcoord"> x=</label>
	<input id="POST-xcoord" type="text" name="x">

	<button type="submit" value="Add">Come my minions, rise for your master!</button>

</form>

<ul>
	<% @board.each do |array| %>
		<li><% array.each do |cell| %>
			<%= cell.state %>
			<% end %>
		</li>
	<% end %>
</ul>

<a href="/play">Begin!</a>

