<!DOCTYPE html>
<html>
	<head>
		<link href="/stylesheet.css" rel="stylesheet" type="text/css">
		<title>Game of Life</title>
		<meta http-equiv="refresh" content="0.2">
	</head>
	<body>
		<%= yield %>
	</body>
</html>