body {
	background-color: black;
}

ul {
	list-style-type: none;
	font-family: 'Courier';
	color: white;
}

p, label {
	color: white;
}

#nav {
	width: 590px;
	padding-left: 40px;
}

#begin {
	margin-left: 505px;
}