body {
	background-color: black;
	font-family: 'Courier';
}

ul {
	list-style-type: none;
	font-family: 'Courier';
	color: white;
	padding: 0;
}

input {
	max-width: 30px;
}

p, label {
	color: white;
}

.container {
	width: 780px;
	margin-left: auto;
	margin-right: auto;
	overflow: auto;
}

.form {
	margin-top: 20px;
	margin-left: auto;
	margin-right: auto;
	position: absolute;
}

.under_form {
	width: 740px;
	height: auto;
	overflow: auto;
	margin-top: 40px;
}

.board {
	height: 640px;
	width: 590px;
	float: left;
	position: relative;
}

#nav {
	width: 590px;
	overflow: auto;
}

#clear {
	float:left;
	text-decoration: none;
}

#begin {
	float: right;
	text-decoration: none;
}

.help {
	padding-top: 15px;
	height: 200px;
	float: right;
	overflow: hidden;
}

.help:hover {
	overflow: visible;
	margin-top: -200px;
	padding: -200px;
}

.img:hover {
	
	/*overflow: hidden;*/
}