body {
	background-color: black;
	font-family: 'Courier';
}

ul {
	list-style-type: none;
	font-family: 'Courier';
	color: white;
}

p, label {
	color: white;
}

#nav {
	width: 590px;
	padding-left: 40px;
	text-decoration: none;
}

#begin {
	margin-left: 505px;
}

.content {
	float: left;
}

.help {
	float: right;
}